@import '~@angular/material/theming';
@import '~@angular/cdk/overlay-prebuilt.css';

@include mat-core();

$lazy-loading-modules-primary: mat-palette($mat-blue);
$lazy-loading-modules-accent: mat-palette($mat-orange, A200, A100, A400);

$lazy-loading-modules-warn: mat-palette($mat-red);

$lazy-loading-modules-theme: mat-light-theme(
  $lazy-loading-modules-primary,
  $lazy-loading-modules-accent,
  $lazy-loading-modules-warn
);

@include angular-material-theme($lazy-loading-modules-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.floating-form-container {
  .mat-tab-label,
  .mat-tab-label-active {
    min-width: 0;
    padding: 10px;
    margin: 10px;
    height: 30px;
  }
}
